django>=5.1,<6.0
dj-database-url>=2.1.0
django-crispy-forms>=2.3
crispy-bootstrap3>=2024.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.0
whitenoise>=6.0.0
pytest-cov>=6.0.0
pytest-django>=4.9.0
pytest>=8.0.0
ruff>=0.4.0
