.container_mail{
	border-radius:6px;
	border:1px solid #dcdcdc;
	padding:6px 24px;

}

.start-page-header {
	background-color: #ff6f69;
	margin-top: 0px;
	padding: 30px 20px 20px 20px;
}

.start-page-header h1 {
    	font-family: 'Martel', serif;
    	font-weight: bold;
    	color: #ffeead;
    	text-align: center;
		font-size:80pt;
    	text-decoration: none;
}

.email-header {
	background-color: #ff6f69;
	margin-top: 0px;
	padding: 30px 20px 20px 20px;
}

.email-header h1 {
    	font-family: 'Martel', serif;
    	font-weight: bold;
    	color: #ffeead;
    	text-align: center;
		font-size:24pt;
    	text-decoration: none;
}

body {
	background-color: #96ceb4;
	font-family: 'Montserrat', sans-serif;
	color: #383838;
	font-weight: bold;
}


h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #787f9d;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
c
	display:inline-block;
	cursor:pointer;
	color:#383838;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}













