<!DOCTYPE html>
{% extends 'invitations/base.html' %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h3>Step 3 - Who are you inviting?</h3>
                    <br>
                    <form id="user_form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.management_form }}
                        <div id="attendee-forms">
                        {% for f in form %}
                        <div class="form-group {% if f.errors %}has-error{% endif %}">
                            <label class="col-sm-2 control-label">{{ forloop.counter }}.</label>
                            <div class="col-sm-4">
                                {{ f.name }}
                                {% if f.name.errors %}<p class="help-block">{{ f.name.errors }}</p>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                {{ f.email }}
                                {% if f.email.errors %}<p class="help-block">{{ f.email.errors }}</p>{% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9">
                                <button type="button" class="myButton"
                                    hx-get="{% url 'invitations:add_attendee_form' %}"
                                    hx-target="#attendee-forms"
                                    hx-swap="beforeend"
                                    hx-include="[name='form-TOTAL_FORMS']">+</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9">
                                <a class="myButton" href="{% url 'invitations:event_edit' pk %}">Back</a>
                                <input class="myButton" id="submit" type="submit" value="Next Step - What else do we need?">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
