<!DOCTYPE html>
{% extends 'invitations/base.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    <h2>Step 2 - What's the occasion?</h2>
                    <br>
                    <form  id="user_form" class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <input class="myButton" id="submit" type="submit" value="Next Step - Who are you inviting?">
                    </form>
                </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    {% endblock %}
