<!DOCTYPE html>
{% extends 'invitations/base.html' %}
{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-9">
                <br>
                <h2>Invitations for {{ event.occasion }} have been sent. </h2>
                <br>
                <h1>Thank you for using Golden Hands and have a lovely time!</h1>
                <br>
                <h2><a class="myButton" href="{% url 'invitations:start' %}">Return to Start </a></h2>
            </div>
        <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}
