{% extends 'invitations/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h3>Step 1 - Who is inviting?</h3>
                <br>
                <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <input class="myButton" id="submit" type="submit" value="Next Step - What's the occasion?">
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
