<!DOCTYPE html>
{% extends 'invitations/base.html' %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h3>Step 1 - Who is inviting?</h3>
                    <br>
                    <form id="user_form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-sm-7">
                                {{ field }}
                                {% if field.errors %}<p class="help-block">{{ field.errors }}</p>{% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-7">
                                <input class="myButton" id="submit" type="submit" value="Next Step - What's the occasion?">
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    {% endblock %}
